h1{
    margin: 20px;
    color: whitesmoke;
}
.todolist-card{
    display: block;
    height: 75vh;
    width: 30vw;
    background-color: rgb(48, 48, 48);
    border: 0.2rem solid whitesmoke;
    border-radius: 0.5rem;
    box-shadow:-20px -20px 0px 0px rgba(100,100,100,.3);
}
.separator{
    width: 100%;
    height: 0.2rem;
    background-color: whitesmoke;
}
.list-item-container{
    height: 50vh;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.add-list-item{
    /* background-color: pink; */
    padding: 20px;
    margin-top: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-list-item-input{
  height: 2.5rem;
  width: 20rem;
  border: none;
  background-color: whitesmoke;
  font-size: large;
  padding-left: 1rem;
}
.add-list-item-btn{
  height: 2.6rem;
  width: 7rem;
  margin-right: 0.5rem;
  background-color: rgba(100,100,100,.3);
  color: whitesmoke;
  border: none;
  cursor: pointer;
}
.add-list-item-btn:hover{
  background-color: whitesmoke;
  color: rgba(36, 36, 36);
}
.red{
  color: red;
}
